* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.min-h-65 {
	min-height: 240px!important;
}
.header
{
    height: 70px;
    background-color: rgb(241, 236, 236);
}
.menu
{
    height: 70px;
    line-height: 50px;
    padding: 0px;
}
#nav
{
    height: 70px;
}
#nav>li
{
    border-right: 1px solid white;
    width: 150px;
    text-align: center;
}
#nav>li>a
{
    color: black;

}
#nav>li:hover
{
    background-color: red;
}
#nav>li>a:hover
{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#nav > li > a.active:nth-child(1)
{
    background-color: red;
    color: white;
    font-weight: bold;
    text-decoration: none;
    height: 70px;
    border-radius: 0px;
}
.fa.fa-user-circle-o
{
    float: left;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 30px;
}
.admin{
    height: 70px;
    line-height: 70px;
}
.p
{
    font-size: 20px;
    font-weight: bold;
}
.tittle
{
    font-size: 20px;
    border-bottom: 2px solid red;
    font-weight: bold;
}
.search-name
{
    padding-left: 0px;
    font-weight: bold;
}
.add-a
{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.add-a:hover
{
    color: black;
    text-decoration: none;
}
.add-user
{
    height: 580px;
    width: 70%;
    background-color: white;
    box-shadow: 6px 4px 20px #8f8c8c;
    margin: 0 auto;
}
.header-add
{
    height: 50px;
    width: 100%;
    background-color: rgb(189, 182, 182);
    font-weight: bold;
}
.form-add
{
    margin: 50px;
}
.lbl
{
    font-weight: bold;
}
.btn-logout:hover
{
    background-color: red;
    color: white;
}
.images
{
    height: 400px; 
    border: 1px solid rgb(167, 167, 167);
}
.product-image {
    display: none;
    position: absolute;
    z-index: 10;
    max-width: 100px; 
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
}
.product-name {
    position: relative;
}
.product-name:hover .product-image {
    display: block;
}
.modal-dialog-form {
    max-width: 1000px!important; 
}
.pagination {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0;
}

.pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    margin: 0 3px;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination a.current {
    background-color: #f90b0b;
    color: #fff;
}

.next-page, .prev-page {
    display: inline-block;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    margin: 0 5px;
    text-decoration: none;
    color: #000;
}

.next-page:hover, .prev-page:hover {
    background-color: #ddd;
}
.isActive {
    border-radius: 20px 20px;
    background-color: rgb(185, 237, 190);
    /* font-weight: bold; */
    text-align: center;
}
.unActive {
    border-radius: 20px 20px;
    background-color: rgb(234, 193, 184);
    /* font-weight: bold; */
    text-align: center;
}