/* @import 'bootstrap/dist/css/bootstrap.css'; */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

header {
    background-color: #e893a0;
    color: white;
    text-align: center;
    padding: 10px;
}
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
#name{
border-radius: 0px;
}
#days{
border-radius: 0px;
}
#btn-add{
border-radius: 0px;
}
