#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    margin-top: 30px;
    }

    header {
    background-color: #7d2b7e;
    color: white;
    padding: 10px;
    }

    footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    }
    .thead-danger{
        background-color: red;
        color: white;
    }
    #name{
    border-radius: 0px;
    }
    #days{
    border-radius: 0px;
    }
    #btn-add{
    border-radius: 0px;
    }